body {
  background:white;
  font-size:1.3em;
  font-family:sans-serif;
}

p {
  color:#444;
  margin-top:0.5em;
  margin-bottom:0;
}

.wrap {
  background:#eee;
  padding:1em 2em;
  border-radius:2em;
  width:400px;
  border:3px dotted red;
}

#log {
  color:#444;
  font-family:sans-serif;
  overflow:auto;
  height:300px;
  font-size:smaller;
  background:#ddd;
  padding:0.5em;
  margin-bottom:0.5em;
  clear:both;
}

label, strong {
  color:#c00;
  font-weight:bold;
}

#statut {
  padding:0.2em 0.5em;
}

.online {
  background:#A9C832;
}

.offline {
  background:#C00;
  color:#fff;
}

