#player {
	width:140;
	height:30px;
	display:none;
}

#player .play, #player .pause, #player .vol, #player .audible, #player .muted {
	border:0;
	color: transparent;
	float:left;
}

#player .play {
	width:29px;
	height:30px;
	background:url(play.png) no-repeat;
}

#player .play:hover {
	background-image:url(play-hover.png);
	cursor:pointer;
}

#player .pause {
	width:28px;
	height:30px;
	background:url(pause.png) no-repeat;
}

#player .pause:hover {
	background-image:url(pause-hover.png);
	cursor:pointer;
}

#player .info, #player .track {
	width:50px;
	height:30px;
	background:url(info.png) repeat-x;
	display:inline-block;
	float:left;
	color:white;
	line-height:30px;
	font-weight:bold;
	font-family:sans-serif;
	text-align:center;
	font-size:15px;
}

#player .track {
	width:100px;
	background-repeat:repeat-x;
}

#player .track span {
	background:url(track.png) repeat-x;
	width:0;
	display:block;
	height:100%;
}

#player .audible {
	width:34px;
	height:30px;
	background:url(audible.png) no-repeat;
}

#player .audible:hover {
	background-image:url(audible-hover.png);
	cursor:pointer;
}

#player .muted {
	width:34px;
	height:30px;
	background:url(muted.png) no-repeat;
	display:none;
}

#player .muted:hover {
	background-image:url(muted-hover.png);
	cursor:pointer;
}
